RewriteEngine On

# Redireccionar a archivos HTML sin mostrar la extensión
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.+)$ $1.html [L]

# Redireccionar peticiones a la carpeta html sin mostrarla en la URL
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)/?$ /html/$1.html [L]

# Prevenir acceso directo a la carpeta html
RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s/+html/([^/]\S*) [NC]
RewriteRule ^ /%1 [R=301,L]

# Remover .html de las URLs
RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s([^.]+)\.html [NC]
RewriteRule ^ %1 [R=301,L]